@{
  Layout = "_Layout";
}
<h3>@Model.Name</h3><hr>
<h5>Add Order</h5><br>
<form action="/vendors/@Model.Id/orders" method="post">
  <div class="form-group">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    <label for="title">Order Number: </label>
    <input id="title" name="title" type="text"><br>
    <label for="description">Description: </label>
    <input id="description" name="description" type="text"><br>
    <label for="price">Total: $</label>
    <input id="price" name="price" type="text"><br>
    <label for="date">Order Date:</label>
    <input id="date" name="date" type="text"><br>
    <button type='submit'>Add</button>
  </div>
</form><br>
<p><a href="/vendors">Return to Vendors</a></p>
<p><a href='/'>Return Home</a></p>