@{
  Layout = "_Layout";
}
<h3>@Model["vendor"].Name</h3><hr>
<h5>@Model["order"].Title</h5>
<p>Description: @Model["order"].Description<br>
Price: $@Model["order"].Price<br>
Order Date: @Model["order"].Date<br><br>
<a href='/vendors/@Model["vendor"].Id/orders/new'>Add Order</a><br>
<a href='/vendors'>Return to Vendors</a><br>
<a href='/'>Return home</a></p>