@{
  Layout = "_Layout";
}
<h3>Add Vendor</h3><hr>
<form action="/vendors" method="post">
  <div class="form-group">
    <label for="name">Company: </label>
    <input id="name" name="name" type="text">
    <label for="description">Description: </label>
    <input id="description" name="description" type="text">
    <!-- <label for="contact">Sales Contact: </label>
    <input id="contact" name="contact" type="text">
    <label for="email">Email: </label>
    <input id="email" name="email" type="text">
    <label for="number">Phone Number: </label>
    <input id="number" name="number" type="text">
    <label for="address">Address: </label>
    <input id="address" name="address" type="text">
    <label for="notesr">Additional notes: </label>
    <input id="notes" name="notes" type="text"> -->
    <button type="submit">Add</button>
  </div>
</form><br>
<p><a href="/vendors">Return to Vendors</a></p>
<p><a href='/'>Return Home</a></p>