@{
  Layout = "_Layout";
}
<h1>Add Vendor</h1><hr>
<form action="/vendors" method="post">
  <div class="form-group">
    <label for="name">Company: </label>
    <input id="name" name="name" type="text"><br>
    <label for="description">Description: </label>
    <input id="description" name="description" type="text"><br>
    <button type="submit">Add</button>
  </div>
</form><br>
<p><a href="/vendors">Return to Vendors</a></p>
<p><a href='/'>Return Home</a></p>