@{
  Layout = "_Layout";
}
<!--  add new vendor form
      new Vendor object should be saved into a static List
      directions say to rout routed user to homepage but it makes more sense to rout back to vendor/show page
      & link to vendors/index-->
<p><a href='/'>Back home</a></p>